@import "colores.css";
@import "/lib/material-icons.css";
@import "/lib/roboto.css";
@import "/lib/principal.css";
@import "/lib/icono.css";
@import "/lib/mi-nav.css";
@import "/lib/campos.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #f0f0f0;
  
}

h1{
color: rgb(128, 79, 119);
}

.contenido {
  display: inline-block;
  text-align: start;
}
 
meter,input[type=range],output {
  display: block;
}
 
footer {
  background: rgb(228, 182, 220);
  color: rgb(24, 23, 23);
  width: 100%;
  text-align: center;
  padding: 1em;
  align-self: flex-end;
}